
<style>
  .bg-pink-light{
    background-color:  rgba(239, 170, 250, 0.678);
  }

  .customdd{
    background-color:  rgba(239, 170, 250, 0.678);
  }

    .w-5{
      width: 40px;
    }

    .h-5{
      height: 40px;
    }

    .efectohover:hover{
      background: #f6eeee;
      border-radius: 1rem;
      transition: all 1.3s ease;


      
    }
    .efectohover{
      border-radius: 1rem;
      transition: all 1.3s ease;
    }

</style>





<nav class="navbar navbar-expand-lg bg-pink-light">
          <div class="container-fluid customnav ">
              <img src="/src/imgs/LOGOKIKIS.jpg" alt="LOGOKIKIS" class="img-fluid rounded-circle w-5 h-5 mx-3">
            <a class="navbar-brand" href="#">Kikis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ">
                <li class="nav-item">
                  <a class="nav-link efectohover" aria-current="page" href="/proyectopw2_paraentrega/index.html#carrusel">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link efectohover" href="/proyectopw2_paraentrega/index.html#productos">Catálogo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link efectohover" href="/proyectopw2_paraentrega/index.html#Destacados">Destacados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link efectohover" href="/proyectopw2_paraentrega/ofertas.html">Ofertas del Mes</a>
                  </li>
                <li class="nav-item dropdown efectohover">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                  </a>
                  <ul class="dropdown-menu customdd">
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/relojeria.html">Relojería</a></li>
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/joyeria.html">Joyería</a></li>
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/cuidadopersonal.html">Cuidado Personal</a></li>
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/maquillaje.html">Maquillaje</a></li>
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/skincare.html">Skin Care</a></li>
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/unas.html">Uñas</a></li>
                    <li><a class="dropdown-item" href="/proyectopw2_paraentrega/accesorios.html">Accesorios</a></li>
                    
                    
                  </ul>

                  <li class="nav-item">
                  <a class="nav-link efectohover" href="/proyectopw2_paraentrega/historias.html">Historias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link efectohover" href="/proyectopw2_paraentrega/mas.html">Más</a>
                  </li>
                   
                </li>
              </ul>
            </div>
          </div>
        </nav>
